body {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.6;
	padding: 1px;
	margin: 0;
}
section {
	margin: 2em;
}
img {
	max-width: 100%;
}
pre {
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 1em;
	white-space: pre-wrap;
}
ol {
	font-family: monospace;
	border: 1px solid #ccc;
	background-color: #eee;
	padding: 1em 3.5em;
	white-space: pre-wrap;
}
div.images {
	display: table;
	table-layout: fixed;
	max-width: 600px;
	border-spacing: 2px;
	border-collapse: separate;
}
div.images a {
	display: table-cell;
	width: 50%;
}
div.images img {
	width: 100%;
	height: auto;
}